/* class="logotyp">
<div class="about-us">
 <div class="specific-information">
<div class="images">
    <img src="pic1.png" alt="Studenter som studerar" id="students">
     <img src="pic2.png" alt="Informellt möte vid ett bord" id="meeting">
      <img src="pic3.png" alt="Mobilteefon och dator i användning" id="devices">
       <img src="pic4.png" alt="Skärm med kod" id="screencode">
         <footer>
          <header><img src="pics/logo.svg" alt="logotyp" class="logotyp"></header>
*/


/*grundinställningar*/

/*
body {
    background-color: white;
    color: black;
    
}
/* låser logotup bilden på fast plats i dokumentet
.logotyp {
  position: absolute;
  top: 0px;
  left: 5px;
}
main {
    padding-top: 85px;
} */

/* Mobil designen först*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family:  Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 1em;
    background-color: white;
  color: black;
  padding: 2%;
  
}

ul li{
    list-style-type: none;
    padding-left: 5%;
}


.logotyp {
  width: auto;
  height: 70px;
 position: absolute;
  top: 5px;
  left: 5px;
}

.about-us {
  background-color: white;
  color: black;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.about-us h1{
    margin-bottom: 3rem;
}

.general-information {
  display: none;
      background-color: #007BFF;  
        color: #ffffff;
    text-decoration: none;
    line-height: 1.4;
    font-size: 1em;
    font-weight: none;
  padding: 2rem;
  margin: 2rem;
   margin-top: 0;
  
}

.specific-information {
  background-color: #99ccff ; 
 
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2;
}

.specific-information h2{
    color: blue;
    line-height: 2;
}


.images {
  display: flex;
  flex-direction: column;

 
}

.images img {
  width: 100%;
  height: auto;
  padding-bottom: 0.2rem;
  object-fit: cover;
  border: none;
}


footer {
  background-color: #007BFF;
  color: white;
  text-align: left;
  padding: 1rem;
  font-size: 1em;
  line-height: 2;
  
}
footer a {
    text-decoration: none;
    color: #ffffff;
}




@media (min-width: 768px) and (max-width: 1023px) {
.main {
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
     grid-template-areas: 
    "header general"
    "images images"
    "images images"
    "specifics blank"
 }
 body {
    margin-top: 0;
 }
 .images{
    grid-area: images;
    display: grid;
    grid-template-areas: 
    "image1 image2"
"image3 image4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;


 }
.about-us {
    grid-area: header;
      padding: 2rem;
      padding-left: 0;
  margin: 2rem;
  margin-left: 0;
 
}
.general-information{
    grid-area: general;
    display: block;
    background-color: #007BFF;  
    color: white;
  padding: 2rem;
  margin: 2rem;
   margin-top: 0;
  
  border-bottom-left-radius: 70px;
  line-height: 2;
}
 #students {
    grid-area: image1;
      padding: 1rem;
  border-radius: 35px;
} 
#meeting {
    grid-area: image2;
      padding: 1rem;
  border-radius: 35px;
}
#devices {
    grid-area: image3;
      padding: 1rem;
  border-radius: 35px;
}
 #screencode {
    grid-area: image4;
      padding: 1rem;
  border-radius: 35px;
}

.specific-information{
   grid-area: specifics;
     padding: 2rem;
     
  margin: 2rem;
  margin-left: 0;

}}


@media (min-width: 1024px) {
.main {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
     grid-template-areas: 
    "header general"
    "images images"
    "specifics specifics"

 }
 body {
    margin: 0;
    padding: 0;
 }
 .images{
    grid-area: images;
    display: grid;
    grid-template-areas: 
    "image1 image2 image3 image4";
  grid-template-columns: 1fr 1fr 1fr 1fr;


 }
.about-us {
    grid-area: header;
      padding: 3rem;
       margin: 2rem;
       margin-top: 5rem;
  margin-left: 0;
 }

 .about-us h1{
    margin-bottom: 1rem;
    
  }
.general-information{
    grid-area: general;
    display: block;
    background-color: #007BFF;  
        color: #ffffff;
    text-decoration: none;
    line-height: 1.4;
    font-size: 0.9em;
    font-weight: lighter;
    font-style: normal;
  padding: 2rem 2rem 2rem 5rem;
  margin: 2rem;
   margin-top: 0;
   border-bottom-left-radius: 70px;
  
}
.general-information li, p, div {
  font-size: 0.9em;
  line-height: 1.4;
  list-style: none;
  margin: 0.5rem 0;
  font-weight: lighter;
  font-style: normal;
  padding: 1%;
}
.general-information h2{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5%;
    line-height: 1.4;
    font-size: 0.9em;
    font-weight: lighter;
    font-style: normal;
    padding: 1%;
}
.specific-information{
   grid-area: specifics;
     padding: 2rem;
     
  margin: 2rem;
  margin-left: 0;
}

 #students {
    grid-area: image1;
      padding: 1rem;
  border-radius: 35px;
} 
#meeting {
    grid-area: image2;
      padding: 1rem;
  border-radius: 35px;
}
#devices {
    grid-area: image3;
      padding: 1rem;
  border-radius: 35px;
}
 #screencode {
    grid-area: image4;
      padding: 1rem;
  border-radius: 35px;
}



}

    
