/* class="logotyp">
<div class="about-us">
 <div class="specific-information">
<div class="images">
    <img src="pic1.png" alt="Studenter som studerar" id="students">
     <img src="pic2.png" alt="Informellt möte vid ett bord" id="meeting">
      <img src="pic3.png" alt="Mobilteefon och dator i användning" id="devices">
       <img src="pic4.png" alt="Skärm med kod" id="screencode">
         <footer>
          <header><img src="pics/logo.svg" alt="logotyp" class="logotyp"></header>
*/


/*grundinställningar*/

/*
body {
    background-color: white;
    color: black;
    
}
/* låser logotup bilden på fast plats i dokumentet
.logotyp {
  position: absolute;
  top: 0px;
  left: 5px;
}
main {
    padding-top: 85px;
} */

/* Mobil designen först*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family:  Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: smaller;
    background-color: white;
  color: black;
  padding: 2%;
  
}

ul li{
    list-style-type: none;
    padding-left: 5%;
}


.logotyp {
  width: auto;
  height: 70px;
 position: absolute;
  top: 5px;
  left: 5px;
}

.about-us {
  background-color: white;
  color: black;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.about-us h1{
    margin-bottom: 3rem;
}

.general-information {
  display: none;
}

.specific-information {
  background-color: #99ccff ; 
 
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2;
}

.specific-information h2{
    color: blue;
    line-height: 2;
}


.images {
  display: flex;
  flex-direction: column;

 
}

.images img {
  width: 100%;
  height: auto;
  padding-bottom: 0.2rem;
  object-fit: cover;
  border: none;
}


footer {
  background-color: #007BFF;
  color: white;
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 2;
  
}
footer a {
    text-decoration: none;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}


@media (min-width: 768px) {
  .images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .images img {
    width: calc(50% - 5px); 
  }
}


@media (min-width: 1024px) {
  .images img {
    width: calc(25% - 7.5px); 
  }

  .about-us, .general-information, .specific-information {
    max-width: 1000px;
    margin: 2rem auto;
  }
}

    
